* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dashboard {
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: #e2e8f0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.box {
    background-color: #1e293b;
}


/* Four main Grids  */
.sidebar {
    grid-column: 1  / 1;
    grid-row: 1 / 7;
    background-color: #f59e0b;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 0.1fr);
    gap: 1rem;
}



.article {
    grid-column: 2 / 5;
    grid-row: 2 / 7;
    background-color: #fff7ed;
}

.newsfeed {
    grid-column: 5 / 6;
    grid-row: 2 / 7;
    background-color: #fff7ed;
}

.dashMenu {
    display: grid;
    grid-template-columns: 1fr 3.2fr;
    margin-top: 0.5rem;
}

#dashMenuMain {
    margin-top: 1rem;
    cursor: pointer;
}

h2 {
    place-self: center;
    justify-self: start;
}

.dashMenuLogo {
    width:60%;
    place-self: center;
}

.settingsLogo {
    width: 45%;
    place-self: center;
    cursor: pointer;
}

h3 {
    place-self: center;
    justify-self: start;
    cursor: pointer;
}

.dashSettingsTwo {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 1rem;
}




.header {
    grid-column: 2 / 6;
    grid-row: 1 / 1;
    background-color: #fed7aa;
    display: grid;
    grid-template-columns: 1fr;
}



.headerOne {
    display: grid;
    grid-template-columns: 1fr 12fr 1fr 1fr 3fr;
    gap: 0.8rem;
}

.headerOne > * {
    place-self: center;
    cursor: pointer;
}

.headerIcons {
    width: 40%;
}

.searchBar {
    width: 87%;
    height: 2.5rem;
    border-radius: 10rem;
    background-color: #f59e0b;
    justify-self: start;
}
.searchBar:hover {
    background-color: #e0920a;
    
}

.headerIconOne {
    justify-self: end;
}

.mailChimp {
    width: 80%;
    border-radius: 10rem;
}
.name {
    justify-self: start;
}

.headerIconTwo {
    justify-self: end;
}

.buttonBar {
    width: 6rem;
    height: 2.3rem;
    border-radius: 10rem;
    background-color: #7056e6;
    justify-self: start;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff7ed;
}

.label {
    justify-self: start;
}

.headerTwo {
    grid-template-columns: 1fr 9fr 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
    margin-left: 1rem;
}

.buttonBar:hover {
    background-color: #5b42c7;
}

.article {
    display: grid;
    grid-template-rows: 0.1fr 1fr;
}

.articleOne {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.articleBox {
    width: 80%;
    height: 90%;
    background-color:#fed7aa;
    place-self: center;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: grid;
    grid-template-rows: 60% 40%;
    transition: 0.15s;
    cursor: pointer;
}
.articleBox:hover {
    transform: scale(1.02);
}

.textGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-top: 1rem;
}

.textGrid > * {
    place-self: center;
    width: 80%;
}

.logosGrid {
    display: grid;
    grid-template-columns: 40% 1fr 1fr 1fr;
}

.logoImg {
    width: 30%;
    place-self: center;
}

.textGrid p {
    font-size: 0.8rem;
    opacity: 0.7;
}

.projectTitle {
    margin-left: 2.5rem;
}

.newsfeed {
    display: grid;
    grid-template-rows: 0.3fr 1fr 0.2fr 1fr;
    grid-template-columns: 1fr;
}

.newsBox {
    width: 75%;
    height: 90%;
    background-color: #fed7aa;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: grid;
    grid-template-rows: repeat(9, auto);
    padding: 1rem 0;
}

.newsfeed > * {
    place-self: center;
}

.newsTitle {
    justify-self: start;
    margin-left: 2.3rem;
}

.newsBox > * {
    width: 80%;
    font-size: 0.8rem;
    place-self: center;
}

.newsBox p {
    font-size: 0.6rem;
    opacity: 0.5;
}

.newsBoxTwo {
    width: 75%;
    height: 90%;
    background-color: #fed7aa;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: grid;
    grid-template-rows: repeat(4, 25%);
    grid-template-columns: 30% auto;
    font-size: 0.8rem;
    padding: 0 1rem;
}



.newsBoxTwo > * {
    place-self: center;
}

.profileLogo {
    width: 70%;
    border-radius: 10rem;
    justify-self: center;
}

.userTag {
    justify-self: start;
}

.userTag h5 {
    opacity: 0.6;
}